@media screen and (min-width:900px){
  footer
  {	
	 /* position: fixed;*/
	 margin-top: 30%;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  z-index: 1030;
	  
  }
  h2{
	font-size: 10em;
  }
  .carousel-inner>.item>a>img,.carousel-inner>.item>img,.img-responsive,.thumbnail a>img,.thumbnail>img
  {display:block;height:auto}

}
  footer
  {	background-color: #0A71F3;
	  color: white;
	  line-height:40%;
	  max-width: 100%;
	  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
  }

body {
    background: url('../img/fond1.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
text-align: center;
}

nav{
	box-shadow: 5px 2px 10px 3px grey
}

/* Taille des inputs de connection */
/*#pwd , #usr{
	max-height: 30%;
	max-width: 30%;
}*/


.container1{
  	text-align: center;
	max-height: 30%;
	max-width: 30%;
}
.containerconnexion{
	text-align: center;
	max-height: 800%;
	max-width: 80%;
}
.container_recherches{
	max-height: 30%;
	max-width: 30%;
}
.container_inscription{
	text-align: center;
	max-height: 30%;
	max-width: 30%;
}
.container_pathologies {
	margin-top: 10px;
}
  
.info
{

	color : #371F57;
	font-size: 120%;
}

.name
{
	margin-top: 1%;

}

.a
{
	text-decoration: none;
}
.info{
	font-style: italic;
}

/*Bootstrap*/
.navbar-brand {
  padding: 0px; /* firefox bug fix */
  min-height: 100px;
}
.navbar-brand>img {
 height: 100%;
  width: auto;
}
.navbar-nav > li{
  margin-left:5%;
  margin-right:5%;
}
.navbar ul li {
	font-size: 180%;
	color : black;
	
}

.createurs {
	text-align: center;
}

.Webographie {
	text-align: center;
	margin-top: 10%;
}

.listeweb{
	text-align: center;
	margin-bottom: 100%;
	width: auto;

}

